<h1>Make a new user</h1>
<% if defined?(errors) %>
  <% errors.each do |error| %>
  <%= error %><br>
  <% end %>
<% end %>
<br>
<form class = "ui input focus" method='post' action='/sessions/create'>
  <input type='text' name='user[username]' placeholder='Username' />
  <input type='password' name='user[password]' placeholder='Password' />
  <input class ='ui medium blue button' type='submit' />
</form>
