<%= @current_card %>

<form method='post' action='/deck/<%= @cards[0].id %>/card/<%= @cards.sample.id %>/show_answer'>
  <input type="hidden" name="_method" value="deck_id[<%= @cards[0].id %>]">
  <input type='submit' name='show_answer' value="Show Answer" />
</form>
