<div class="ui grid container">
  <h1>Welcome to Flashcards</h1>


  <form method='post' action='/sessions'><div class= "ui input focus">
  <input type='text' name='username' placeholder='Username' />

  <input type='password' name='password' placeholder='Password' />
  </div>
  <input class="ui medium button inverted blue" type='submit' value='Log in' />
  </form>

<a href='/sessions/new'><h4>Create Profile</h4></a></div>



