<div class="container">
  <h1>Welcome to Flashcards</h1>
  <form method='post' action='/sessions'>
  <input type='text' name='username' placeholder='Username' />
  <input type='password' name='password' placeholder='Password' />
  <input type='submit' value='Log in' />
  </form>

  <a href='/sessions/new'><h4>Create Profile</h4></a>
</div>
